@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Inter;
    text-align: center;
    background: url('img/bg.jpg');
    background-size: cover;
    backdrop-filter: blur(15px);
  }
  
  .flicker {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    display: block;
  }
  
  .flicker span {
    display: block;
    opacity: 0;
    animation: flicker 0.1s infinite;
  }
  .wrapper{
    background: url('img/bg.jpg');
    background-size: cover;
    transform: all 0.3s linear;
  }
  
  @keyframes flicker {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #name-display {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
  }
