@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .flicker {
    font-size: 24px;
    font-weight: bold;
    height: 30px;
    color: #333;
    font-family: "Courier New", Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    display: block;
  }
  
  .flicker span {
    display: block;
    opacity: 0;
    animation: flicker 0.1s infinite;
  }
  
  @keyframes flicker {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  #name-display {
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
  }
